body{
    font-family: "Montserrat" , sans-serif;
}


nav {
    display:flex;
    padding: 20px 20px 10px 20px; 
    justify-content: space-between;
}




body {
   
    background-color: rgb(196, 255, 204);
    align-items: center ;

    a{
        text-decoration: none;
    }

.linkzinho {
    text-decoration: none;
    color: rgb(55, 43, 226);
}
   

}

#foto {
    width: 20vh;

}
#foto2 {
    width: 65vh;

}

.main {
    display: flex;

}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    padding: 5px;
    background-color: greenyellow;
    border-radius: 5px;
    color: black;
    

}